
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.lock

.metadata/.log

*.ini

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

*.prefs

*.tree

*.index

*.zip

*.version

*.xmi

.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
